.trx-history-ele-container {
    align-items: center;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    margin-right: 26px;
    text-align: center;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.trx-history-ele {
    align-items: center;
    background-color: #ccc;
    border-right: 1px solid #fff;
    color: #36454f;
    display: flex;
    font-weight: bold;
    font-size: 14px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 20%;
}