#txnModal {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.txnModal-ele-container {
    align-items: center;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.txnModal-ele-name {
    font-size: 16px;
    font-weight: bold;
    width: 20%;
}